

ul.ui-autocomplete  {

  background-color: #ffffff !important;
  border: 1px solid #cccccc !important;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  border-radius: 4px !important;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
  background-clip: padding-box !important;
}


span.general_info {
  padding-left: 10px !important;
}

/* div.similaritytop3 {
  height: 3em !important;
} */
